.svg-ab-icon1 {
	background: url("sprite.css-f616402c.svg") 96.0919540229885% 60% no-repeat;
}

.svg-ab-icon1-x {
	width: 50px;
	height: 50px;
}

.svg-ab-icon2 {
	background: url("sprite.css-f616402c.svg") 99.77011494252874% 75.68% no-repeat;
}

.svg-ab-icon2-x {
	width: 50px;
	height: 50px;
}

.svg-ab-icon3 {
	background: url("sprite.css-f616402c.svg") 8.620689655172415% 96% no-repeat;
}

.svg-ab-icon3-x {
	width: 50px;
	height: 50px;
}

.svg-about-list-icon1 {
	background: url("sprite.css-f616402c.svg") 92.04545454545455% 67.8740157480315% no-repeat;
}

.svg-about-list-icon1-x {
	width: 40px;
	height: 40px;
}

.svg-about-list-icon2 {
	background: url("sprite.css-f616402c.svg") 96.5909090909091% 67.8740157480315% no-repeat;
}

.svg-about-list-icon2-x {
	width: 40px;
	height: 40px;
}

.svg-about-list-icon3 {
	background: url("sprite.css-f616402c.svg") 68.18181818181819% 88.18897637795276% no-repeat;
}

.svg-about-list-icon3-x {
	width: 40px;
	height: 40px;
}

.svg-about-list-icon4 {
	background: url("sprite.css-f616402c.svg") 72.72727272727273% 88.18897637795276% no-repeat;
}

.svg-about-list-icon4-x {
	width: 40px;
	height: 40px;
}

.svg-about-list-icon5 {
	background: url("sprite.css-f616402c.svg") 77.27272727272727% 88.18897637795276% no-repeat;
}

.svg-about-list-icon5-x {
	width: 40px;
	height: 40px;
}

.svg-about-list-icon6 {
	background: url("sprite.css-f616402c.svg") 81.81818181818181% 88.18897637795276% no-repeat;
}

.svg-about-list-icon6-x {
	width: 40px;
	height: 40px;
}

.svg-add {
	background: url("sprite.css-f616402c.svg") 99.88726042841037% 58.41121495327103% no-repeat;
}

.svg-add-x {
	width: 33px;
	height: 33px;
}

.svg-arrow {
	background: url("sprite.css-f616402c.svg") 98.34983498349835% 52.46636771300449% no-repeat;
}

.svg-arrow-x {
	width: 11px;
	height: 6px;
}

.svg-arrow-filter {
	background: url("sprite.css-f616402c.svg") 99.34138309549945% 52.38805970149254% no-repeat;
}

.svg-arrow-filter-x {
	width: 9px;
	height: 5px;
}

.svg-arrow-hov {
	background: url("sprite.css-f616402c.svg") 97.01834862385321% 52.62368815592204% no-repeat;
}

.svg-arrow-hov-x {
	width: 48px;
	height: 8px;
}

.svg-arrow-long {
	background: url("sprite.css-f616402c.svg") 78.63695937090432% 82.65460030165913% no-repeat;
}

.svg-arrow-long-x {
	width: 157px;
	height: 12px;
}

.svg-arrow-roud {
	background: url("sprite.css-f616402c.svg") 82.53094910591471% 78.83333333333333% no-repeat;
}

.svg-arrow-roud-x {
	width: 193px;
	height: 75px;
}

.svg-arrow-roud2 {
	background: url("sprite.css-f616402c.svg") 89.02077151335311% 50% no-repeat;
}

.svg-arrow-roud2-x {
	width: 246px;
	height: 75px;
}

.svg-arrow2 {
	background: url("sprite.css-f616402c.svg") 100% 44.97751124437781% no-repeat;
}

.svg-arrow2-x {
	width: 23px;
	height: 8px;
}

.svg-arrow3 {
	background: url("sprite.css-f616402c.svg") 96.0482985729967% 53.582089552238806% no-repeat;
}

.svg-arrow3-x {
	width: 9px;
	height: 5px;
}

.svg-arrow4 {
	background: url("sprite.css-f616402c.svg") 93.79157427937916% 54.39393939393939% no-repeat;
}

.svg-arrow4-x {
	width: 18px;
	height: 15px;
}

.svg-cart {
	background: url("sprite.css-f616402c.svg") 99.66517857142857% 86.02150537634408% no-repeat;
}

.svg-cart-x {
	width: 24px;
	height: 24px;
}

.svg-check {
	background: url("sprite.css-f616402c.svg") 95.04950495049505% 53.9039039039039% no-repeat;
}

.svg-check-x {
	width: 11px;
	height: 9px;
}

.svg-check4 {
	background: url("sprite.css-f616402c.svg") 86.36363636363636% 88.18897637795276% no-repeat;
}

.svg-check4-x {
	width: 40px;
	height: 40px;
}

.svg-close {
	background: url("sprite.css-f616402c.svg") 40.04424778761062% 91.04704097116844% no-repeat;
}

.svg-close-x {
	width: 16px;
	height: 16px;
}

.svg-close3 {
	background: url("sprite.css-f616402c.svg") 41.8141592920354% 91.04704097116844% no-repeat;
}

.svg-close3-x {
	width: 16px;
	height: 16px;
}

.svg-cursor {
	background: url("sprite.css-f616402c.svg") 99.88864142538975% 47.166921898928024% no-repeat;
}

.svg-cursor-x {
	width: 22px;
	height: 22px;
}

.svg-down {
	background: url("sprite.css-f616402c.svg") 43.34433443344334% 91.04704097116844% no-repeat;
}

.svg-down-x {
	width: 11px;
	height: 16px;
}

.svg-down2 {
	background: url("sprite.css-f616402c.svg") 99.66666666666667% 50.38167938931298% no-repeat;
}

.svg-down2-x {
	width: 20px;
	height: 20px;
}

.svg-down3 {
	background: url("sprite.css-f616402c.svg") 97.46974697469747% 62.006079027355625% no-repeat;
}

.svg-down3-x {
	width: 11px;
	height: 17px;
}

.svg-fav {
	background: url("sprite.css-f616402c.svg") 96.98324022346368% 80.46153846153847% no-repeat;
}

.svg-fav-x {
	width: 25px;
	height: 25px;
}

.svg-fav2 {
	background: url("sprite.css-f616402c.svg") 99.77653631284916% 80.46153846153847% no-repeat;
}

.svg-fav2-x {
	width: 25px;
	height: 25px;
}

.svg-favicon {
	background: url("sprite.css-f616402c.svg") 0 0 no-repeat;
}

.svg-favicon-x {
	width: 600px;
	height: 600px;
}

.svg-fb {
	background: url("sprite.css-f616402c.svg") 13.950892857142858% 92.16589861751152% no-repeat;
}

.svg-fb-x {
	width: 24px;
	height: 24px;
}

.svg-filter {
	background: url("sprite.css-f616402c.svg") 13.904338153503893% 95.55895865237366% no-repeat;
}

.svg-filter-x {
	width: 21px;
	height: 22px;
}

.svg-icon {
	background: url("sprite.css-f616402c.svg") 44.80088495575221% 91.04704097116844% no-repeat;
}

.svg-icon-x {
	width: 16px;
	height: 16px;
}

.svg-inst {
	background: url("sprite.css-f616402c.svg") 16.629464285714285% 92.16589861751152% no-repeat;
}

.svg-inst-x {
	width: 24px;
	height: 24px;
}

.svg-link {
	background: url("sprite.css-f616402c.svg") 24.555555555555557% 91.6030534351145% no-repeat;
}

.svg-link-x {
	width: 20px;
	height: 20px;
}

.svg-logo {
	background: url("sprite.css-f616402c.svg") 87.71929824561404% 60.58158319870759% no-repeat;
}

.svg-logo-x {
	width: 236px;
	height: 56px;
}

.svg-logo-footer {
	background: url("sprite.css-f616402c.svg") 84.50704225352112% 68.08846761453397% no-repeat;
}

.svg-logo-footer-x {
	width: 210px;
	height: 42px;
}

.svg-mail {
	background: url("sprite.css-f616402c.svg") 31.1529933481153% 91.32420091324201% no-repeat;
}

.svg-mail-x {
	width: 18px;
	height: 18px;
}

.svg-phone {
	background: url("sprite.css-f616402c.svg") 33.148558758314856% 91.32420091324201% no-repeat;
}

.svg-phone-x {
	width: 18px;
	height: 18px;
}

.svg-play {
	background: url("sprite.css-f616402c.svg") 93.84615384615384% 78.83333333333333% no-repeat;
}

.svg-play-x {
	width: 75px;
	height: 75px;
}

.svg-play2 {
	background: url("sprite.css-f616402c.svg") 0 100% no-repeat;
}

.svg-play2-x {
	width: 75px;
	height: 75px;
}

.svg-search {
	background: url("sprite.css-f616402c.svg") 26.77777777777778% 91.6030534351145% no-repeat;
}

.svg-search-x {
	width: 20px;
	height: 20px;
}

.svg-sel-ar {
	background: url("sprite.css-f616402c.svg") 97.03622392974754% 53.582089552238806% no-repeat;
}

.svg-sel-ar-x {
	width: 9px;
	height: 5px;
}

.svg-soc-i1 {
	background: url("sprite.css-f616402c.svg") 35.14412416851441% 91.32420091324201% no-repeat;
}

.svg-soc-i1-x {
	width: 18px;
	height: 18px;
}

.svg-soc-i2 {
	background: url("sprite.css-f616402c.svg") 46.57079646017699% 91.04704097116844% no-repeat;
}

.svg-soc-i2-x {
	width: 16px;
	height: 16px;
}

.svg-soc-i3 {
	background: url("sprite.css-f616402c.svg") 36.81318681318681% 91.32420091324201% no-repeat;
}

.svg-soc-i3-x {
	width: 10px;
	height: 18px;
}

.svg-soc-i4 {
	background: url("sprite.css-f616402c.svg") 19.308035714285715% 92.02453987730061% no-repeat;
}

.svg-soc-i4-x {
	width: 24px;
	height: 23px;
}

.svg-sort {
	background: url("sprite.css-f616402c.svg") 29% 91.6030534351145% no-repeat;
}

.svg-sort-x {
	width: 20px;
	height: 20px;
}

.svg-start-act {
	background: url("sprite.css-f616402c.svg") 99.33554817275747% 62.006079027355625% no-repeat;
}

.svg-start-act-x {
	width: 17px;
	height: 17px;
}

.svg-start-dis {
	background: url("sprite.css-f616402c.svg") 38.205980066445186% 91.1854103343465% no-repeat;
}

.svg-start-dis-x {
	width: 17px;
	height: 17px;
}

.svg-stat {
	background: url("sprite.css-f616402c.svg") 96.98324022346368% 86.15384615384616% no-repeat;
}

.svg-stat-x {
	width: 25px;
	height: 25px;
}

.svg-stat2 {
	background: url("sprite.css-f616402c.svg") 99.44134078212291% 66.40986132511556% no-repeat;
}

.svg-stat2-x {
	width: 25px;
	height: 26px;
}

.svg-swipe {
	background: url("sprite.css-f616402c.svg") 100% 0 no-repeat;
}

.svg-swipe-x {
	width: 320px;
	height: 300px;
}

.svg-toggle-close {
	background: url("sprite.css-f616402c.svg") 94.14414414414415% 87.09175738724728% no-repeat;
}

.svg-toggle-close-x {
	width: 32px;
	height: 32px;
}

.svg-toggler {
	background: url("sprite.css-f616402c.svg") 90.49773755656109% 87.63693270735524% no-repeat;
}

.svg-toggler-x {
	width: 36px;
	height: 36px;
}

.svg-upload {
	background: url("sprite.css-f616402c.svg") 21.986607142857142% 91.6030534351145% no-repeat;
}

.svg-upload-x {
	width: 24px;
	height: 20px;
}

.svg-zoom {
	background: url("sprite.css-f616402c.svg") 97.35327963176064% 48.07692307692308% no-repeat;
}

.svg-zoom-x {
	width: 51px;
	height: 51px;
}

