.idea
/.htaccess
/bitrix
/верстка
/local/modules
/upload
/local/templates/ultrasale/assets/vendors
/affettatest
/*.html
/*.log
/*.xml
/*.sql
/*.txt

*.png
*.jpeg
*.jpg
*.pdf
*.svg

Thumbs.db
.DS_Store
._.DS_Store
node_modules
build
.editorconfig

local/node_modules
local/build
local/.idea
local/.editorconfig
